.experience-parent-container {
  position: relative;
  height: 100vh; 
}

.experience-sticky-frame {
  /* position: sticky; */
  top: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.experience-header {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.experience-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.experience-wrapper {
  display: flex;
  gap: 24px;
  width: max-content;
  margin-left: 60px;
}

.experience-card-container {
  min-height: 367px;
  max-width: 398px;
  border-radius: 20px;
  padding: 20px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.experience-card-id-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.experience-card-footer-container {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.card-icon {
  text-decoration: none;
  height: 40px;
  width: 40px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.card-icon:hover {
  transform: translateY(-2px);
  opacity: 0.85;
}
