.projects-parent-container {
  position: relative;
  height: 220vh;
}

.projects-sticky-frame {
  /* position: sticky;  */
  top: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.projects-header {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  /* flex-shrink: 0; */
}

.projects-container {
  display: flex;
  align-items: center;
  gap: 32px;

  /* width: 100%; */
  /* overflow-x: scroll; */
  /* overflow-x: auto; */
  /* overflow-y: hidden; */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: x mandatory; */
  /* 
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  width: max-content; */
}

.projects-wrapper {
  /* width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; */
  display: flex;
  gap: 24px;
  width: max-content;
  margin-left: 10px;
  /* will-change: transform; */
}

/* .projects-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.project-card-container {
  min-height: 367px;
  max-width: 398px;
  border-radius: 20px;
  padding: 20px;
  gap: 32px;
  display: flex;
  flex-direction: column;

  /* flex-shrink: 0; */
  /* scroll-snap-align: start; */
}

.project-card-id-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.project-card-footer-container {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.project-icon-link {
  text-decoration: none;
  height: 30px;
  width: 30px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.project-icon-link:hover {
  transform: translateY(-2px);
  opacity: 0.85;
}
